$neutral: #4a148c;
$wrong: #ff1744;
$correct: #2962ff;
$white: rgba(243, 243, 245, 255);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
*,
*::before,
*::after {
  //google says this makes all the elements have this property for some reason??? {
  box-sizing: border-box;
}
body {
  // background-color: rgba(243, 243, 245, 255);
  background-color: $neutral;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: serif, monospace, sans-serif;
  font-size: 62.5%;
  transition: 0.2s;
}
.body.correct {
  backgroud-color: $correct;
  border: solid;
  border-color: $neutral;
  border-width: thin;
}
.body.wrong {
  backgroud-color: $wrong;
  border: solid;

  border-width: thin;
}
.container {
  max-width: 80%;
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1.3rem;
  filter: drop-shadow(0 0 1.3rem #333);
}
.answerchoices-grid {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}
.button {
  background-color: $neutral;
  color: $white;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem;
}
.button:hover {
  border-color: $white;
  border-width: thick;
}
.button.correct {
  background-color: $correct;
}
.button.wrong {
  background-color: $wrong;
}
.start-button,
.next-button {
  border-radius: 0;
  padding: 0.5rem 0.8rem;
}
.play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
//by active i mean on click but i think thats right. could just do hover tho maybe?>>?>?
